@page "/cart"

<div class="container" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="row gx-lg-5 gy-5">
        <div class="item-section col-lg-6">
            <div class="bg-white">
                <h3 class="title fw-bold pb-4 border-bottom mb-0">Cart Information</h3>
                <div class="item-container py-4 border-bottom">
                    <div class="item">
                        <div class="item-header">
                            <img class="item-img" src="imgs/home.jpg" alt="" />
                            <button class="clear-btn bg-danger">X</button>
                        </div>
                        <div class="item-body">
                            <div class="info-section">
                                <div class="about-section">
                                    <div class="name">Thongaya Bao Nhi</div>
                                    <div class="description mt-2">A litte bit cute</div>
                                </div>
                                <div class="price-section">
                                    <div class="text-danger fw-bold">9.99</div>
                                    <div class="text-secondary text-decoration-line-through">
                                        12.99
                                    </div>
                                </div>
                            </div>
                            <div class="summary-section">
                                <div class="d-flex align-items-center position-relative">
                                    <input type="number" class="form-control form-control-sm number-input" name="pro-1-number" value="1">
                                </div>
                                <div class="ms-auto">Total: <strong>9.99 $</strong></div>
                            </div>
                        </div>
                        <div class="item-footer"></div>
                    </div>
                    <div class="item">
                        <div class="item-header">
                            <img class="item-img" src="imgs/home.jpg" alt="" />
                            <button class="clear-btn bg-danger">X</button>
                        </div>
                        <div class="item-body">
                            <div class="info-section">
                                <div class="about-section">
                                    <div class="name">Thongaya Bao Nhi</div>
                                    <div class="description mt-2">A litte bit cute</div>
                                </div>
                                <div class="price-section">
                                    <div class="text-danger fw-bold">9.99</div>
                                    <div class="text-secondary text-decoration-line-through">
                                        12.99
                                    </div>
                                </div>
                            </div>
                            <div class="summary-section">
                                <div class="d-flex align-items-center position-relative">
                                    <input type="number" class="form-control form-control-sm number-input" name="pro-1-number" value="1">
                                </div>
                                <div class="ms-auto">Total: <strong>9.99 $</strong></div>
                            </div>
                        </div>
                        <div class="item-footer"></div>
                    </div>
                    <div class="item">
                        <div class="item-header">
                            <img class="item-img" src="imgs/home.jpg" alt="" />
                            <button class="clear-btn bg-danger">X</button>
                        </div>
                        <div class="item-body">
                            <div class="info-section">
                                <div class="about-section">
                                    <div class="name">Thongaya Bao Nhi</div>
                                    <div class="description mt-2">A litte bit cute</div>
                                </div>
                                <div class="price-section">
                                    <div class="text-danger fw-bold">9.99</div>
                                    <div class="text-secondary text-decoration-line-through">
                                        12.99
                                    </div>
                                </div>
                            </div>
                            <div class="summary-section">
                                <div class="d-flex align-items-center position-relative">
                                    <input type="number" class="form-control form-control-sm number-input" name="pro-1-number" value="1">
                                </div>
                                <div class="ms-auto">Total: <strong>9.99 $</strong></div>
                            </div>
                        </div>
                        <div class="item-footer"></div>
                    </div>
                </div>
                <div class="total p-4">
                    <div class="d-flex mb-3">
                        <div>SubTotal:</div>
                        <div class="ms-auto">29.97 $</div>
                    </div>
                    <div class="d-flex mb-3">
                        <div>Discount:</div>
                        <div class="ms-auto">1 $</div>
                    </div>
                    <div class="d-flex mb-3">
                        <div>Total:</div>
                        <div class="ms-auto fw-bold">28.97 $</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="payment-section col-lg-6">
            <div class="bg-white">
                <h3 class="title pb-4 fw-bold border-bottom mb-0">Cusomter Information</h3>
                <div class="form py-4">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Phone number</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="123456789">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="mt-4" style="margin-bottom: 20px;">
                        <button class="btn btn-lg rounded-1 btn-success w-100 fw-bold">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>