@page "/details"

<PageTitle>Details</PageTitle>

<div class="container" style="padding-top: 50px; padding-bottom: 50px">
    <div class="row gx-lg-5 gy-5">
        <div class="col-lg-5">
            <div>
                <img class="img-fit-cover rounded-1" src="imgs/home.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-7">
            <div class="px-4 py-3 bg-body-tertiary rounded-1">
                <h2 class="text-uppercase fw-bold mb-4">Super Product Name - limited edition</h2>
                <h5 class="text-secondary mb-4">This is a insanely delicious dishes you absolutely have to try one at least!</h5>
                <h5 class="mb-4 text-danger">
                    Down 20%
                </h5>
                <div class="mb-4">
                    <span class="fs-4 text-danger">9.99 $</span>
                    <span class="ms-2 text-decoration-line-through">12.99 $</span>
                </div>
                <div>
                    <button class="btn rounded-1 btn-lg px-4 btn-success">Add to Cart</button>
                    <button class="ms-3 btn rounded-1 btn-lg px-4 btn-danger">Add to Favorites List</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container border-top" style="padding-top: 50px; padding-bottom: 80px;">
    <div class="" style="margin-bottom: 55px;">
        <h3 class="text-uppercase fw-bold">Related dishes</h3>
    </div>
    <div>
        <div class="row gy-5">
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer" href="/details">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="mt-5 text-center">
        <button class="btn btn-lg btn-primary rounded-1 px-4">Watch more</button>
    </div>
</div>
