@page "/"

<PageTitle>Home</PageTitle>

<div class="banner" style="margin-bottom: 50px;">
    <div class="home-img-container">
        <img class="home-img" src="imgs/home.jpg" alt="">
    </div>

    <div class="banner-content w-100 h-100 px-4 d-flex flex-column justify-content-center text-center align-items-center text-white">
        <h1 class="text-uppercase fw-bold">Welcome to FFOE</h1>
        <h3>Serving you is our pleasure. We have everythings you need here.</h3>
        <button class="btn btn-lg btn-success mt-4 px-5 rounded-1">Explore now</button>
    </div>
</div>


<div class="container"  style="padding-top: 50px; padding-bottom: 50px;">
    <div class="text-center" style="margin-bottom: 55px;">
        <h3 class="text-uppercase fw-bold">Why choosing us?</h3>
    </div>
    <div class="container">
        <div class="row gy-5" style="font-family: 'Roboto';">
            <div class="col-lg-3 col-sm-6">
                <div class="py-5 px-4 text-center border">
                    <i class="text-danger fa-solid fa-truck-fast fs-1"></i>
                    <h5 class="mt-4">Fast Delivery</h5>
                    <div class="mt-2 reason-text">Insanely fast delivery service. You hungry? Dont worry, we'll be there
                        soon!</div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="py-5 px-4 text-center border">
                    <i class="text-warning fa-solid fa-truck-fast fs-1"></i>
                    <h5 class="mt-4">Fast Delivery</h5>
                    <div class="mt-2 reason-text">Insanely fast delivery service. You hungry? Dont worry, we'll be there
                        soon!</div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="py-5 px-4 text-center border">
                    <i class="text-primary fa-solid fa-truck-fast fs-1"></i>
                    <h5 class="mt-4">Fast Delivery</h5>
                    <div class="mt-2 reason-text">Insanely fast delivery service. You hungry? Dont worry, we'll be there
                        soon!</div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="py-5 px-4 text-center border">
                    <i class="text-success fa-solid fa-truck-fast fs-1"></i>
                    <h5 class="mt-4">Fast Delivery</h5>
                    <div class="mt-2 reason-text">Insanely fast delivery service. You hungry? Dont worry, we'll be there
                        soon!</div>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="container-fluid" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="row bg-body-tertiary">
        <div class="col-lg-5 px-0" style="min-height: 400px;">
            <img class="home-img" src="imgs/home.jpg" alt="">
        </div>
        <div class="col-lg-7" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="d-flex h-100 flex-column justify-content-center align-items-center px-5">
                <h2 class="text-uppercase fw-bold text-center">For best experience</h2>
                <h4 class="mt-3 text-center">You can check whatever you want here</h4>
                <h6 class="mt-3 text-center">But we still recommend you login into our system</h6>
                <h6 class="mt-3 text-center">With that, you can easily mange your order and so much orther funny things
                </h6>
                <button class="btn btn-lg btn-primary px-5 rounded-1 mt-4">Login now</button>
            </div>
        </div>
    </div>
</div>


<div class="container" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="text-center" style="margin-bottom: 55px;">
        <h3 class="text-uppercase fw-bold">Special dishes</h3>
    </div>
    <div>
        <div class="row gy-5">
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer" href="/details">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="mt-5 text-center">
        <button class="btn btn-lg btn-primary rounded-1 px-4">Watch more</button>
    </div>
</div>


<div class="container" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="text-center" style="margin-bottom: 55px;">
        <h3 class="text-uppercase fw-bold">Current promotions</h3>
    </div>
    <div>
        <div class="row gy-5">
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="mt-5 text-center">
        <button class="btn btn-lg btn-primary rounded-1 px-4">Watch more</button>
    </div>
</div>


<div class="container" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="text-center" style="margin-bottom: 55px;">
        <h3 class="text-uppercase fw-bold">Hot Combo</h3>
    </div>
    <div>
        <div class="row gy-5">
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white" style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="mt-5 text-center">
        <button class="btn btn-lg btn-primary rounded-1 px-4">Watch more</button>
    </div>
</div>

<div style="padding-bottom: 50px;"></div>
