@page "/menu"

<PageTitle>Menu</PageTitle>

<div class="bg-body-tertiary border-top border-bottom">
    <div class="container" style="padding-top: 50px; padding-bottom: 50px">
        @* <div class="" style="margin-bottom: 25px;">
        <h3 class="text-uppercase fw-bold">Search</h3>
        </div> *@
        <div class="d-flex p-3 rounded-1 border mb-4 bg-white">
            <input type="text" class="form-control border-0 focus-none" id="exampleFormControlInput1"
                placeholder="What dish you looking for?">
            <button class="btn btn-lg btn-primary px-4 rounded-1">Search</button>
        </div>
        <div class="row gx-4 gy-4 mb-4">
            <div class="col-md-4">
                <select class="form-select border rounded-1" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-select border rounded-1" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-select border rounded-1" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <div class="row gx-4 gy-4">
            <div class="col-md-6">
                <button class="btn btn-success rounded-1 w-100 text-center">Filt</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-secondary rounded-1 w-100 text-center">Clear filter</button>
            </div>
        </div>
    </div>
</div>

<div class="container border-top" style="padding-top: 50px; padding-bottom: 80px;">
    <div class="d-flex" style="margin-bottom: 55px;">
        <h3 class="text-uppercase fw-bold">All Products</h3>
        <select class="form-select ms-auto border rounded-1" style="max-width: 250px;" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div>
        <div class="row gy-5">
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer" href="/details">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white"
                            style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white"
                            style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white"
                            style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white"
                            style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white"
                            style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white"
                            style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer" href="/details">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white"
                            style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white"
                            style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white"
                            style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white"
                            style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white"
                            style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="card overflow-hidden text-decoration-none cs-pointer">
                    <div class="card-img position-relative">
                        <img class="img-fit-width" src="imgs/home.jpg" alt="">
                        <div class="position-absolute rounded-1 bg-danger px-4 py-1 text-white"
                            style="top: 10px; right: 10px">Down 20%</div>
                    </div>
                    <div class="card-body py-4">
                        <h4>Product Name</h4>
                        <div class="mt-2">This is a very delicious dish</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <div>
                                <span style="font-size: 19px;">9.99 $</span>
                                <span class="text-decoration-line-through" style="color: #959595;">12.99 $</span>
                            </div>
                            <button class="ms-auto btn rounded-1 btn-success px-4">Order</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="mt-5 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>
