@page "/register"

<div class="container" style="padding-top: 50px; padding-bottom: 120px">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="border px-5 py-5 rounded-1 bg-body-tertiary">
                <form>
                    <h3 class="text-center fw-bold text-primary">Welcome to Our System</h3>
                    <h5 class="mb-5 text-center">Create an account to explore more</h5>
                    <div class="form-floating mb-4">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password">
                        <label for="floatingPassword">Confirm Password</label>
                    </div>

                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                        <div class="col">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                                <label class="form-check-label" for="form2Example31">I have read and accepted the 
                                    <a href="#">terms and services</a>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="button" class="btn btn-primary btn-block mb-4 w-100 text-uppercase fw-bold rounded-1">Create</button>

                    <!-- Login buttons -->
                    <div class="text-center">
                        <p>Already have an account? <a href="/login">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>