<footer class="bg-body-tertiary">
    <hr class="my-0" />
    <div class="container py-4">
        <div class="row gy-5 p-relative">
            <div class=" col-lg-4">
                <ul class="nav nav-pills mb-3 bg-white border fw-medium" style="font-family: Roboto; border-radius: 7px"
                    id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active fw-bold" id="pills-guest-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-guest" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">
                            Guest
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-bold" id="pills-partner-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-partner" type="button" role="tab" aria-controls="pills-profile"
                            aria-selected="false">
                            Partner
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-bold" id="pills-contact-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                            aria-selected="false">
                            Information
                        </button>
                    </li>
                </ul>
                <div class="tab-content contact-form-1" id="pills-tabContent">
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="form-floating mb-3">
                            <input readonly type="email" class="form-control bg-white" id="contactEmail"
                                value="conghau31052004@gmail.com" />
                            <label for="contactEmail">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input readonly type="text" class="form-control bg-white" id="contactStudentCode"
                                value="ps35740" />
                            <label for="contactPhone">Student Code</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input readonly type="text" class="form-control bg-white" id="contactPhone"
                                value="0775541796" />
                            <label for="contactPhone">Phone Number</label>
                        </div>
                        <div class="row mx-0 mt-3">
                            <button class="btn btn-lg rounded-1 btn-success fw-bold">Contact Now</button>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="pills-guest" role="tabpanel"
                        aria-labelledby="pills-guest-tab">
                        <form>
                            <div class="mb-2">
                                <input type="text" placeholder="Full Name" class="form-control" id="inputNameGuest" />
                            </div>
                            <div class="mb-2">
                                <input type="email" placeholder="Email" class="form-control" id="inputEmailGuest"
                                    aria-describedby="emailHelp" />
                            </div>
                            <div class="mb-2">
                                <input type="number" placeholder="Phone Number" class="form-control"
                                    id="inputPhoneGuest" />
                            </div>
                            <div class="mb-2">
                                <textarea class="form-control" placeholder="What do you need support with?" rows="3"
                                    id="inputReqGuest" style="resize: none"></textarea>
                            </div>
                            <div class="row mx-0 mt-3">
                                <button class="btn btn-lg rounded-1 btn-success fw-bold">Contact Now</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-partner" role="tabpanel" aria-labelledby="pills-partner-tab">
                        <form>
                            <div class="mb-2">
                                <input type="text" placeholder="Business Name" class="form-control"
                                    id="inputNamePartner" />
                            </div>
                            <div class="mb-2">
                                <input type="email" placeholder="Email" class="form-control" id="inputEmailPartner"
                                    aria-describedby="emailHelp" />
                            </div>
                            <div class="mb-2">
                                <input type="number" placeholder="Phone Number" class="form-control"
                                    id="inputPhonePartner" />
                            </div>
                            <div class="mb-2">
                                <textarea class="form-control" placeholder="What does your business need support with?"
                                    id="inputReqPartner" rows="3" style="resize: none"></textarea>
                            </div>
                            <div class="row mx-0 mt-3">
                                <button class="btn btn-lg rounded-1 btn-success fw-bold">Contact Now</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class=" col-lg-8 position-relative footer-adv-section">
                <div>
                    <img class="img-fluid" src="imgs/advs/1.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <hr class="my-0" />
    <div class="container py-4" style="padding-bottom: 100px !important;">
        <div class="row gy-4">
            <div class="col-md-3">
                <div>
                    <div class="title-other-information" style="color: #41a5ee">
                        Owner Information
                    </div>
                    <div class="auth-information">Vu Nguyen Cong Hau</div>
                    <div class="auth-information">Student ID: ps35740</div>
                    <div class="auth-information">Subject: C# Programming</div>
                </div>
                <div class="pt-3">
                    <div class="title-other-information text-danger">
                        Register for Promotions
                    </div>
                    <form action="" style="margin-top: 5px">
                        <div>
                            <input class="form-control" placeholder="Phone Number" type="text" id="getCodePhone" />
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" value="" id="acceptBeforeGetCode" />
                            <label class="form-check-label" style="font-size: 12px" for="acceptBeforeGetCode">
                                I agree to the terms of TechGalaxy
                            </label>
                        </div>
                        <button class="btn btn-danger button-medium mt-2">
                            Register to Receive Code
                        </button>
                    </form>
                </div>
            </div>

            <div class="col-md-3 other-infomation">
                <div class="title-other-information text-primary-web">
                    Information and Policies
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0 text-muted other-information-item">Buy and pay online</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0 text-muted other-information-item">Buy installments
                            online</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0 text-muted other-information-item">Buy installment with
                            credit card</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0 text-muted other-information-item">Purchase policy</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0 text-muted other-information-item">Discount policy</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0 text-muted other-information-item">Check online invoice</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0 text-muted other-information-item">Update hot product
                            information</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0 text-muted other-information-item">Update best-selling
                            items</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 other-infomation">
                <div class="title-other-information text-primary-web">
                    Services and Other Information
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0 text-muted other-information-item">Payment discounts</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0 text-muted other-information-item">Corporate customers</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0 text-muted other-information-item">Warranty policy</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0 text-muted other-information-item">Customer information
                            security policy</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0 text-muted other-information-item">Business cooperation
                            contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0 text-muted other-information-item">Apply for jobs</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0 text-muted other-information-item">Delivery service</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 other-infomation">
                <div>
                    <div class="title-other-information text-primary-web">
                        Connect with Us
                    </div>
                    <div class="d-flex" style="margin-top: 5px">
                        <div>
                            <img class="contact-img" src="/imgs/icons/facebook.png" alt="" />
                        </div>
                        <div>
                            <img class="contact-img" src="/imgs/icons/youtube.png" alt="" />
                        </div>
                        <div>
                            <img class="contact-img" src="/imgs/icons/instagram.png" alt="" />
                        </div>
                        <div>
                            <img class="contact-img" src="/imgs/icons/twitter.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="pt-3">
                    <div class="title-other-information text-danger">
                        Development Tools
                    </div>
                    <div class="d-flex align-items-center suport-item" style="margin-top: 5px">
                        <div>
                            <img class="contact-img" src="/imgs/icons/visual-studio.png" alt="" />
                        </div>
                        <div>
                            <img class="contact-img" src="/imgs/icons/visual-studio-code.png" alt="" />
                        </div>
                        <div class="suport-item-describe">Code and debug software</div>
                    </div>
                    <div class="d-flex align-items-center suport-item">
                        <div>
                            <img class="contact-img" src="/imgs/icons/flaticon.png" alt="" />
                        </div>
                        <div>
                            <img class="contact-img" src="/imgs/icons/canva.png" alt="" />
                        </div>
                        <div class="suport-item-describe">Image editing website</div>
                    </div>
                    <div class="d-flex align-items-center suport-item">
                        <div>
                            <img class="contact-img" src="/imgs/icons/git.png" alt="" />
                        </div>
                        <div class="suport-item-describe">
                            Source code management tool
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>